<div class="table-responsive">
  <table class="table table-bordered" width="100%" id="dataTable" cellspacing="0">
    <thead>
      <tr>
        <th>#</th>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Sex</th>
        <th>Date</th>
        <th>Status</th>
        <th>Interview Sheet</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>#</th>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Sex</th>
        <th>Date</th>
        <th>Status</th>
        <th>Interview Sheet</th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td>1</td>
        <td>3178</td>
        <td>Na</td>
        <td>24</td>
        <td>Male</td>
        <td>Tue 8 15:00-15:15</td>
        <td>
          <span class="text-success">
            <i class="fa fa-check" aria-hidden="true"></i>
            Done
          </span>
        </td>
        <td>
          <em>Headache</em>
          <a class="" href="#" role="button">
            ... Detail
          </a>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>3178</td>
        <td>Na</td>
        <td>24</td>
        <td>Male</td>
        <td>Tue 8 15:00-15:15</td>
        <td>
          <span class="text-warning">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            Delay
          </span>
        </td>
        <td>
          <em>Headache</em>
          <a class="" href="#" role="button">
            ... Detail
          </a>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>3178</td>
        <td>Na</td>
        <td>24</td>
        <td>Male</td>
        <td>Tue 8 15:00-15:15</td>
        <td>
          <span class="text-danger">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
            Canceled
          </span>
        </td>
        <td>
          <em>Headache</em>
          <a class="" href="#" role="button">
            ... Detail
          </a>
        </td>
      </tr>
      <tr>
        <td>4</td>
        <td>3178</td>
        <td>Na</td>
        <td>24</td>
        <td>Male</td>
        <td>Tue 8 15:00-15:15</td>
        <td>
          <span class="">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            On-time
          </span>
        </td>
        <td>
          <em>Headache</em>
          <a class="" href="#" role="button">
            ... Detail
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
